canvas {
    background-color: black;
    border-color: black;
    border-width: 2x;
    border-style: solid;
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

body {
    background-color: lightcyan;
    height: 100%;
}

.paddleft {
    margin-left: 25%;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}